## Build results
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## Local tooling
.env
appsettings.Development.json

## Terraform / infra artifacts
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform.exe
