# name_prefix = "react-fullstack-demo"
# location = "eastus"
# api_image_name = "react-fullstack-demo-api"
# api_image_tag = "v1"
# web_image_name = "react-fullstack-demo-web"
# web_image_tag = "v1"
# mongo_database = "react_fullstack_demo"
